<%- include("header.ejs") -%>

<section class="sssss">
    <span class="bbb">
                     
        <img src="images/sim-icon.jpeg" alt="simon" />
            <form action="/simon" method="post"> 
                <button type="submit" class="btn btn-large btn-warning "><img src="images/psgame-logo.png" class="icon-button">Simon Game - Can You remember ?</button>
            </form>
        </span><hr>
    <span class="bbb">
                      
        <img src="images/drum-kit-icon.jpeg"  />
        <form action="/drum" method="post">
            <button type="submit" class="btn btn-large btn-warning "><img src="images/psgame-logo.png" class="icon-button">Drum Kit - Play it Online!!</button>
        </form>
    </span><hr>
    <span class="bbb">
        
        <img src="images/dice-icon.jpeg"  />
        <form action="/dice" method="post">              
            <button type="submit" class="btn btn-large btn-warning "><img src="images/psgame-logo.png" class="icon-button">You or Me ? Refresh to See😉</button>
        </form>
    </span>

            
</section>

<%- include("footer.ejs") -%>